
* {
  font-family: 'Raleway';
  font-size: 1rem;
}

#light {
  width: 35px;
}

.bg-primary {
  background-color: #fa6800;
  background-color: #335bff;
}

.negative_index {
  position: relative;
  z-index: -1;
}

.hide {
  display: none;
}